input
{
    outline: none;
    border: none;
}
form
{
    padding-left: 450px;
    padding-top: 100px;
}
td
{
    padding-right: 200px;
    line-height: 20px;
}
.heading
{
    font-size: 20px;
}
.dropdown {
  position: relative;
  display: inline-block;
  padding: 12px 600px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#checkboxes {
  display: none;
  border: none;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}
